import HI HAckers!!! 
def bio(): 
    name             : str    = "GH0ST_3exP10it"
    status           : list   = "Student"
    team             : str    = "logout"
    desigantion      : str    = "N/A"
    place            : str    = "INTERNET"
    height           : float  =  5.11
    work area        : str    = "cybersecurity"
    hobby            : str    = "programming"

def Stack(): 
   Languages         : list = [$"Python","Shell",ASSEMBLY","C","JS","HTML","CSS","BASH"$-60%]
   Databases         : list = ["MYsql","Mongo","Postgresql","Litesql"]
   Misc              : list = ["Docker","ClOUd"]

def Areas():
    Cybersecurity    : float 5/5
    Desktop app dev  : float 3/5
    Reverse/engineer
    R/apk/malware    : float 5/5
    Web              : float 3/5

def S0cial()
    Twitter          : str   = "0x0SojalSec"
    Facebook         : str   = "0xsojalSec"
    Linkedin         : str   = "0xsojalSec"
    0inion.N/A       : str   = "GH0ST_3xP10iT"

    